.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MainScreen {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.navigator {
  background-color: red;
  flex: 1;
}

.dashboard {
  background-color: blue;
  flex: 3;
}

.loginform {
  width: 300px;
  margin: 60px auto 30px;
  padding: 10px;
  position: relative;

  font-family: "Raleway", "Lato", Arial, sans-serif;
  color: rgb(0, 0, 0);
}

.loginform h1 {
  font-size: 22px;
  padding-bottom: 20px;
  text-align: center;
}

.loginform input[type="text"],
.loginform input[type="password"] {
  /* Size and position */
  width: 95%;
  padding: 8px 4px 8px 10px;
  margin-bottom: 15px;

  /* Styles */
  border: 1px solid #4e3043; /* Fallback */
  border: 1px solid rgba(78, 48, 67, 0.8);
  background: rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2),
    inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

  /* Font styles */
  font-family: "Raleway", "Lato", Arial, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 13px;
}

.loginform input::-webkit-input-placeholder {
  color: rgba(37, 21, 26, 0.5);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
}

.loginform input:-moz-placeholder {
  color: rgba(37, 21, 26, 0.5);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
}

.loginform input:-ms-input-placeholder {
  color: rgba(37, 21, 26, 0.5);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
}

.floginform input[type="text"]:hover,
.floginform input[type="password"]:hover {
  border-color: #333;
}

.loginform input[type="text"]:focus,
.loginform input[type="password"]:focus,
.loginform button:focus {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2),
    inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 0 3px rgba(255, 255, 255, 0.15);
  outline: none;
}

/* Fallback */
.no-boxshadow .floginform input[type="text"]:focus,
.no-boxshadow .loginform input[type="password"]:focus {
  outline: 1px solid white;
}

.loginform button {
  /* Size and position */
  width: 100%;
  padding: 8px 5px;

  /* Styles */
  background: linear-gradient(rgb(10 9 10 / 50%), rgb(84 83 3 / 70%));
  border-radius: 5px;
  border: 1px solid #4e3043;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 2px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease-out;

  /* Font styles */
  color: rgb(255, 255, 255);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-weight: bold;
  font-family: "Raleway", "Lato", Arial, sans-serif;
}

.loginform button:hover {
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.2),
    inset 0 20px 30px rgba(99, 64, 86, 0.5);
}

/* Fallback */
.no-boxshadow .loginform button:hover {
  background: #594642;
}

main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
}

main .item {
  min-width: 250px;
  width: 20%;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 20px;
  background: #98a024;

  border-radius: 0 0 10px 10px;
  transition: transform 500ms ease;

  display: flex;
  flex-direction: column;
}

main .item:hover {
  transform: scale(1.05);
}

main h2,
p {
  margin: 10px 20px;
  color: #000000;
}

.name {
  display: flex;
  flex-direction: row;
}

main h2 {
  margin-bottom: 0;
}

.first_name {
  margin-right: 0;
}

.last_name {
}
.position {
  margin-top: 0;
}
.title_record {
  margin-bottom: 0;
  font-size: 18px;
  text-align: center;
}
.description {
}

.data_record{
  display: flex;
  flex-direction: row;
}
.data_created_record {
  margin: 0;
  margin-left: 20px;
  margin-right: 5px;
}
.due_date_record {
  margin:0;
}
.title_tag {
}
.data_created_tag {
}
